@model gestionPharmacieApp.Models.Stock

@{
    ViewData["Title"] = "Détails du Stock";
}

<h1>Détails du Stock</h1>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id Stock</dt>
        <dd class="col-sm-10">@Model.IdStock</dd>

        <dt class="col-sm-2">Référence Produit</dt>
        <dd class="col-sm-10">@Model.Reference</dd>

        <dt class="col-sm-2">Libellé Produit</dt>
        <dd class="col-sm-10">@Model.ReferenceNavigation.Libelle</dd>

        <dt class="col-sm-2">Quantité</dt>
        <dd class="col-sm-10">@Model.Quantite</dd>
    </dl>

    <!-- Gardez uniquement le bouton pour retourner à la liste -->
    <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
</div>
