<!DOCTYPE html>
<html lang="en">
<head>
<<<<<<< HEAD
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Duo Santé</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">  
    <style>

        body, html {
            margin: 0;
            padding: 0;
            overflow: hidden; /* Supprime la barre de défilement */
            height: 100vh; /* Assure que la hauteur occupe tout l'écran */
        }

        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        nav {
            width: 250px;
            height: 100vh;
            background-color: #6c7c54; 
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            nav h3, nav h5 {
                font-family: Georgia, serif;
                text-align: center;
                margin: 10px 0;
            }

            nav ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

                nav ul li {
                    margin: 15px 0;
                    text-align: left;
                    padding-left: 10px;
                }

                    nav ul li a {
                        font-family: Georgia, serif; /* Police de caractères */
                        font-weight: bold; /* Texte en gras */
                        text-decoration: none;
                        color: white;
                        display: flex;
                        align-items: center;
                    }

                        nav ul li a img {
                            width: 30px; /* Taille des icônes */
                            height: 30px;
                            margin-right: 10px; /* Espacement entre l'icône et le texte */
                        }

                        nav ul li a:hover {
                            font-family: Georgia, serif; /* Police de caractères */
                            font-weight: bold; /* Texte en gras */
                            background-color: white; /* Couleur de survol */
                            padding-left: 20px; /* Animation légère de survol */
                            color: black;
                            transition: 0.3s ease-in-out;
                        }

        .logout {
            margin-top: auto;
        }
    </style>
=======
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - gestionPharmacieApp</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/gestionPharmacieApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" />
    
>>>>>>> 477c3e2c67237392deae329f2b414efcf2765d44
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">gestionPharmacieApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
