@model gestionPharmacieApp.Models.Compte

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow" style="width: 90%;height: 90%">
        <div class="card-header text-white" style="background-color: #4B5920;">
            <h3 class="card-title text-center">Modifier les informations du client</h3>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row mb-3">
                    <div class="col-sm-6 font-weight-bold">
                        <label asp-for="Cin" class="control-label"></label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Cin" class="form-control" />
                        <span asp-validation-for="Cin" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6 font-weight-bold">
                        <label asp-for="Nom" class="control-label"></label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Nom" class="form-control" />
                        <span asp-validation-for="Nom" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6 font-weight-bold">
                        <label asp-for="Prenom" class="control-label"></label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Prenom" class="form-control" />
                        <span asp-validation-for="Prenom" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6 font-weight-bold">
                        <label asp-for="Adresse" class="control-label"></label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Adresse" class="form-control" />
                        <span asp-validation-for="Adresse" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6 font-weight-bold">
                        <label asp-for="Email" class="control-label"></label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-6 font-weight-bold">
                        <label asp-for="Telephone" class="control-label"></label>
                    </div>
                    <div class="col-sm-6">
                        <input asp-for="Telephone" class="form-control" />
                        <span asp-validation-for="Telephone" class="text-danger"></span>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <div class="form-group mb-3">
                        <input type="submit" value="Sauvegarder" class="btn btn-primary" />
                    </div>

                    <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}