@model gestionPharmacieApp.Models.Commande

@{
    ViewData["Title"] = "Commander Produit";
}

<h1>Commander Produit</h1>

<div>
    <form asp-action="ApprouverCommande" method="post">
        <input type="hidden" name="reference" value="@Model.Reference" />
        <div class="form-group">
            <label asp-for="Quantite" class="control-label">Quantité</label>
            <input name="quantite" class="form-control" required />
        </div>
        <div class="form-group">
            <label asp-for="DateCommande" class="control-label">Date de Commande</label>
            <input name="dateCommande" class="form-control" type="date" required />
        </div>
        <div class="form-group">
            <label asp-for="IdFournisseur" class="control-label">Fournisseur</label>
            <select name="idFournisseur" class="form-control" asp-items="ViewBag.Fournisseurs">
                <option value="">Sélectionnez un fournisseur</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Approuver</button>
            <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </form>
</div>
