body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    width: 250px;
    height: 100vh;
    background-color: #6c7c54;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    nav h3, nav h5 {
        font-family: Georgia, serif;
        text-align: center;
        margin: 10px 0;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        nav ul li {
            margin: 15px 0;
            text-align: left;
            padding-left: 10px;
        }

            nav ul li a {
                font-family: Georgia, serif; /* Police de caractères */
                font-weight: bold; /* Texte en gras */
                text-decoration: none;
                color: white;
                display: flex;
                align-items: center;
            }

                nav ul li a img {
                    width: 30px; /* Taille des icônes */
                    height: 30px;
                    margin-right: 10px; /* Espacement entre l'icône et le texte */
                }

                nav ul li a:hover {
                    font-family: Georgia, serif; /* Police de caractères */
                    font-weight: bold; /* Texte en gras */
                    background-color: white; /* Couleur de survol */
                    padding-left: 20px; /* Animation légère de survol */
                    color: black;
                    transition: 0.3s ease-in-out;
                }

.logout {
    margin-top: auto;
}
