.d-flex .form-control,
.d-flex .btn {
    margin-right: 15px; /* Ajoute un espace entre les éléments */
}

.d-flex .flex-grow-1 {
    flex-grow: 1; /* Permet au champ "Mot-clé" de prendre le maximum d'espace disponible */
}

.d-flex label {
    margin-bottom: 0; /* Évite les marges verticales inutiles */
}
